.noto-sans-font {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*{
    font-family: "Noto Sans"
}

body{
    padding:0;
    margin:0;
    background-color: #222;
}
ul,li,a{
    list-style-type: none; 
    padding: 0;           
    margin: 0;
    text-decoration: none;           
}

#navMenu{
    display:flex;
    flex-direction:row;
}

#navMenu li{
    display:flex;
    align-items:center;
    justify-content:center;
}
#navMenu li a{
    display:flex;
    align-items:center;
    justify-content:center;
}
.menuItem{
    padding: 4px;
    font-size:13px;
    margin: 10px;
    border: 1px solid #555;
    border-radius:4px;
    background-color:#333
}
#profileIcon{
    width:40px;
    height:40px;
    object-fit:contain;
}
#profileArea{
    display:flex;
    align-items:center;
    justify-content:center;
    width:40px;
    height:40px;
}

header{
    height:50px;
    width:100%;
    background-color: #000;
    display:flex;
    flex-direction: row;
    align-items:center;
}

li a{
    color: #fff;
    font-weight:500;
}