.noto-sans-font {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*{
    font-family: "Noto Sans"
}

body{
    padding:0;
    margin:0;
    background-color: #333;
}

header{
    height:50px;
    width:100%;
    background-color: #000;
    display:flex;
    flex-direction: row;
    justify-content:center;
}
#headerArea{
    width:95%;
    display:flex;
    flex-direction:row; 
    justify-content:space-between;
    align-items:center;
}
.titleText{
    color:#90f;
    font-weight:800;
}
ul,li,a{
    list-style-type: none; 
    padding: 0;           
    margin: 0;
    text-decoration: none;           
}

#navMenu{
    display:flex;
    flex-direction:row;
}

#navMenu li{
    display:flex;
    align-items:center;
    justify-content:center;
}
#navMenu li a{
    display:flex;
    align-items:center;
    justify-content:center;
}
.menuItem{
    padding: 4px;
    font-size:13px;
    margin: 10px;
    border: 1px solid #555;
    border-radius:4px;
    background-color:#333
}
#profileIcon{
    width:40px;
    height:40px;
    object-fit:contain;
}
#profileArea{
    display:flex;
    align-items:center;
    justify-content:center;
    width:40px;
    height:40px;
}
li a{
    color: #eee;
    font-weight:500;
}

.container{
    justify-content:center;
    display:flex;
}
.form-cadastro{
    width:35%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background-color:#222;
    border-right: 1px solid #555;
    border-left: 1px solid #555
}
.secao{
    width:85%;
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:#111;
    margin-bottom:10px;
    padding:20px;
    border-radius:8px;
}
.row{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    width:100%;
}
.sectionTitle{
    color:#eee;
    margin:15px 0 5px 0;
    font-weight:600;
}
label{
    color: #eee;
    margin:10px 0px;
}
input,select{
    width:90%;
    background-color: #555;
    border: 0;
    padding: 4px;
    border-radius:4px;
    color:#eee;
}
input::placeholder{
    color:#aaa
}
select{
    color:#eee
}
.campo{
    display:flex;
    flex-direction: column;
    width:50%;
}
form button {
    background-color: #333;
    border: 1px solid #555;
    color: #eee;
    padding:10px;
    border-radius:4px;
    font-weight:  500;
    font-size:15px;
    margin-left:30px;
}

.checkbox{
    margin:15px 0;
}
.checkbox input{
    width: 15px;
}